.tag {
  color: var(--primary-background);
  background-color: var(--primary-color);
  font-size: 0.625rem;
  padding: 5px 22px;
  margin-right: 10px;
  border-radius: 10px;
}

.tag:last-child {
  margin-right: 0px;
}

@media only screen and (min-width: 1024px) {
  .tag {
    font-size: 0.875rem;
  }
}