.logement-title {
  color: var(--primary-color);
  font-size: 1.125rem;
  margin: 0;
}

.logement-location {
  color: var(--primary-color);
  font-size: 0.875rem;
  margin: 5px 0 10px 0;
}

.tags {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.logement-information-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.logement-host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logement-host-name {
  color: var(--primary-color);
  font-size: 0.75rem;
  text-align: right;
  margin: 0 10px 0 0;
}

.logement-host-picture{
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.accordions {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {

  .logement-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  }

  .logement-title {
    font-size: 2.25rem;
  }

  .logement-location {
    font-size: 1.125rem;
  }

  .logement-information-1 {
    flex: 2;
  }

  .logement-information-2{
    flex-direction: column-reverse;
    align-items: flex-end;
    flex: 1;
  }

  .logement-host {
    margin-bottom: 25px;
  }

  .logement-host-name {
    font-size: 1.125rem;
  }

  .logement-host-picture{
    width: 64px;
    height: 64px;
  }

  .logement .accordions {
    flex-direction: row;
    justify-content: space-between;
  }

  .logement .accordion {
    width: 50%;
    margin-right: 5%;
  }

  .logement .accordion:last-child {
    margin-right: 0px;
  }
}